Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "GET, POST, PATCH, DELETE, OPTIONS"
Header always set Access-Control-Allow-Headers "Content-Type, X-Api-Key"

RewriteEngine On
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^ - [R=204,L]

RewriteCond %{HTTP:X-Api-Key} .+
RewriteRule ^ - [E=HTTP_X_API_KEY:%{HTTP:X-Api-Key}]
